@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
}

hr {
    width: 85%;
    height: 4px;
    background-color: #000000;
    margin: auto;
}

/* Navbar Start */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 2px #000000;
    z-index: 100;
}

.header a img {
    width: 120px;
}

.navbar a {
    font-size: 1.15rem;
    color: black;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: 0.5s;
}

.navbar a:hover {
    color: #74a7f8;
    transition: 0.5s;
}

.navbar a button {
    cursor: pointer;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    background-color: blue;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.navbar a button:hover {
    background-color: #94d1ff;
    transition: 0.5s;
}

.icons {
    position: absolute;
    right: 5%;
}

#check {
    display: none;
}

.icons i {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
}

/* breakpoints Nav */

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons i {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(80%);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
    }
}
/* Navbar End */

/* -------------------- */

/* Hero Start */

.hero {
    background-image: url(./Element/Gambar/bg.jpg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding-top: 350px;
    padding-bottom: 150px;
    margin-bottom: 50px;
}

.hero h1 {
    font-size: 100px;
}

.hero h3 {
    font-size: 50px;
    font-weight: 400;
}

.hero p {
    font-size: 24px;
}

/* breakpoints Hero */

@media (max-width: 992px) {
    .hero {
        background-image: url(./Element/Gambar/bg.jpg);
        width: 100%;
        min-height: 80vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        color: white;
        padding-top: 350px;
        padding-bottom: 150px;
        margin-bottom: 30px;
    }
    
    .hero h1 {
        font-size: 60px;
    }
    
    .hero h3 {
        font-size: 30px;
        font-weight: 400;
    }
    
    .hero p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .hero {
        background-image: url(./Element/Gambar/bg.jpg);
        width: 100%;
        min-height: 60vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        color: white;
        padding-top: 200px;
        padding-bottom: 150px;
        margin-bottom: 30px;
    }
    
    .hero h1 {
        font-size: 60px;
    }
    
    .hero h3 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .hero p {
        font-size: 12px;
    }
}

/* Hero End */

/* ----------------------- */

/* About Me Start*/

.about {
    text-align: center;
}

.about p {
    background-color: #F6682B;
    color: white;
    width: 200px;
    margin: auto;
    font-size: 20px;
    border-radius: 50px;
    padding: 5px;
}

.about h3 {
    font-size: 40px;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 40px;
}

.tentang {
    width: 85%;
    margin: auto;
    display: grid;
    place-items: center;
}

.tentang-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 25px;
}

.box img {
    width: 400px;
}

.box h2 {
    font-size: 30px;
    font-weight: 450;
}

.box p {
    font-size: 20px;
    text-align: justify;
    line-height: 2;
}

/* Pembatas Garis */
.about hr {
    width: 350px;
    height: 4px;
    background-color: #000000;
    margin: auto;
}

/* breakpoint */
/* Pembatas Garis */

@media (max-width: 992px) {
    .about hr {
        width: 250px;
        height: 4px;
        background-color: #000000;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .about hr {
        width: 150px;
        height: 4px;
        background-color: #000000;
        margin: auto;
    }
}

/* Pembatas Garis End */

/* breakpoint */

@media (max-width: 1260px) {
    .about {
        text-align: center;
    }
    
    .about p {
        background-color: #F6682B;
        color: white;
        width: 200px;
        margin: auto;
        font-size: 18px;
        border-radius: 50px;
        padding: 5px;
    }
    
    .about h3 {
        font-size: 30px;
        margin-top: 10px;
        font-weight: 400;
    }

    .tentang {
        width: 95%;
        margin: auto;
        display: grid;
        place-items: center;
    }
    
    .tentang-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 25px;
    }
    
    .box img {
        width: 300px;
    }
    
    .box h2 {
        font-size: 25px;
        font-weight: 450;
    }
    
    .box p {
        font-size: 15px;
        text-align: justify;
        line-height: 2;
    }
}

@media (max-width: 992px) {
    .about {
        text-align: center;
    }
    
    .about p {
        background-color: #F6682B;
        color: white;
        width: 200px;
        margin: auto;
        font-size: 18px;
        border-radius: 50px;
        padding: 5px;
    }
    
    .about h3 {
        font-size: 30px;
        margin-top: 10px;
        font-weight: 400;
    }

    .tentang {
        width: 95%;
        margin: auto;
        display: grid;
        place-items: center;
    }
    
    .tentang-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 25px;
    }
    
    .box img {
        width: 250px;
    }
    
    .box h2 {
        font-size: 20px;
        font-weight: 450;
    }
    
    .box p {
        font-size: 14px;
        text-align: justify;
        line-height: 2;
    }
}

@media (max-width: 768px) {
    .about {
        text-align: center;
    }
    
    .about p {
        background-color: #F6682B;
        color: white;
        width: 150px;
        margin: auto;
        font-size: 12px;
        border-radius: 50px;
        padding: 5px;
    }
    
    .about h3 {
        font-size: 18px;
        margin-top: 10px;
        font-weight: 400;
    }

    .tentang {
        width: 98%;
        margin: auto;
        display: flexbox;
        place-items: center;
    }
    
    .tentang-box {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 10px;
    }
    
    .box img {
        width: 250px;
    }
    
    .box h2 {
        font-size: 20px;
        font-weight: 450;
    }
    
    .box p {
        font-size: 14px;
        text-align: justify;
        line-height: 2;
    }
}

/* Tugas Pelayanan */

.pelayanan {
    text-align: center;
    margin-top: 30px;
}

.pelayanan p {
    background-color: #F6682B;
    color: white;
    width: 220px;
    margin: auto;
    font-size: 20px;
    border-radius: 50px;
    padding: 5px;
}

/* Card Container Tugas */

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
}

.card {
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    margin: 25px;
    padding: 20px;
    text-align: center;
}

.card i {
    font-size: 50px;
    margin-bottom: 20px;
}

.card .card-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card .card-content ul li {
    margin-bottom: 15px;
    text-align: left;
    font-size: 14px;
}

/* breakpoint */

@media (max-width: 1260px) {
    .pelayanan {
        text-align: center;
        margin-top: 30px;
    }
    
    .pelayanan p {
        background-color: #F6682B;
        color: white;
        width: 200px;
        margin: auto;
        font-size: 18px;
        border-radius: 50px;
        padding: 5px;
    }
}

@media (max-width: 992px) {
     .pelayanan {
        text-align: center;
        margin-top: 30px;
    }
        
    .pelayanan p {
        background-color: #F6682B;
        color: white;
        width: 200px;
         margin: auto;
        font-size: 18px;
        border-radius: 50px;
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .pelayanan {
        text-align: center;
        margin-top: 30px;
    }
    
    .pelayanan p {
        background-color: #F6682B;
        color: white;
        width: 150px;
        margin: auto;
        font-size: 12px;
        border-radius: 50px;
        padding: 5px;
    }
}

/* Pendaftaran */

.pendaftaran {
    width: 85%;
    margin: auto;
    display: grid;
    place-items: center;
}

.pendaftaran-tentang-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 25px;
    justify-items: center;
}

.box-pendaftaran img {
    width: 400px;
}

.box-pendaftaran h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 1;
    color: #C23284;
    margin-bottom: 20px;
}

.box-pendaftaran p {
    font-size: 20px;
    text-align: justify;
    line-height: 2;
    margin-bottom: 20px;
}

.box-pendaftaran p b {
    font-size: 20px;
}

.box-pendaftaran a button {
    cursor: pointer;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    background-color: blue;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.box-pendaftaran a button:hover {
    background-color: #94d1ff;
    transition: 0.5s;
}

/* breakpoint */

@media (max-width: 1420px) {
    .pendaftaran {
        width: 95%;
        margin: auto;
        display: grid;
        place-items: center;
    }
    .pendaftaran-tentang-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 25px;
    }
    
    .box-pendaftaran img {
        width: 300px;
    }
    
    .box-pendaftaran h1 {
        font-size: 50px;
        font-weight: bold;
        line-height: 1;
    }
    
    .box-pendaftaran p {
        font-size: 15px;
        text-align: justify;
        line-height: 2;
    }

    .box-pendaftaran p b {
        font-size: 15px;
    }

}

@media (max-width: 1260px) {
    .pendaftaran {
        width: 95%;
        margin: auto;
        display: grid;
        place-items: center;
    }
    .pendaftaran-tentang-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 25px;
    }
    
    .box-pendaftaran img {
        width: 300px;
    }
    
    .box-pendaftaran h1 {
        font-size: 42px;
        font-weight: bold;
        line-height: 1;
    }
    
    .box-pendaftaran p {
        font-size: 15px;
        text-align: justify;
        line-height: 2;
    }

    .box-pendaftaran p b {
        font-size: 15px;
    }

}

@media (max-width: 992px) {
    .pendaftaran {
        width: 95%;
        margin: auto;
        display: grid;
        place-items: center;
    }
    .pendaftaran-tentang-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 25px;
    }
    
    .box-pendaftaran img {
        width: 300px;
    }
    
    .box-pendaftaran h1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
    }
    
    .box-pendaftaran p {
        font-size: 12px;
        text-align: justify;
        line-height: 2;
    }

    .box-pendaftaran p b {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .pendaftaran {
        width: 98%;
        margin: auto;
        display: flexbox;
        place-items: center;
    }
    .pendaftaran-tentang-box {
        grid-template-columns: 1fr;
        align-items: center;
        padding: 25px;
        margin-left: 25px;
    }
    
    .box-pendaftaran img {
        display: none;
    }
    
    .box-pendaftaran h1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
    }
    
    .box-pendaftaran p {
        font-size: 15px;
        text-align: justify;
        line-height: 2;
    }

    .box-pendaftaran p b {
        font-size: 15px;
    }
}}