@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
}

hr {
    width: 85%;
    height: 4px;
    background-color: #000000;
    margin: auto;
}

/* Navbar Start */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 2px #000000;
    z-index: 100;
}

.header a img {
    width: 120px;
}

.navbar a {
    font-size: 1.15rem;
    color: black;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: 0.5s;
}

.navbar a:hover {
    color: #74a7f8;
    transition: 0.5s;
}

.navbar a button {
    cursor: pointer;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    background-color: blue;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.navbar a button:hover {
    background-color: #94d1ff;
    transition: 0.5s;
}

.icons {
    position: absolute;
    right: 5%;
}

#check {
    display: none;
}

.icons i {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
}

/* breakpoints Nav */

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons i {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(80%);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
    }
}
/* Navbar End */

/* -------------------- */

/* Hero Start */

.hero {
    background-image: url(./Element/Gambar/bg.jpg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding-top: 350px;
    padding-bottom: 150px;
    margin-bottom: 50px;
}

.hero h1 {
    font-size: 100px;
}

.hero h3 {
    font-size: 50px;
    font-weight: 400;
}

.hero p {
    font-size: 24px;
}

/* breakpoints Hero */

@media (max-width: 992px) {
    .hero {
        background-image: url(./Element/Gambar/bg.jpg);
        width: 100%;
        min-height: 80vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        color: white;
        padding-top: 350px;
        padding-bottom: 150px;
        margin-bottom: 30px;
    }
    
    .hero h1 {
        font-size: 60px;
    }
    
    .hero h3 {
        font-size: 30px;
        font-weight: 400;
    }
    
    .hero p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .hero {
        background-image: url(./Element/Gambar/bg.jpg);
        width: 100%;
        min-height: 60vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        color: white;
        padding-top: 200px;
        padding-bottom: 150px;
        margin-bottom: 30px;
    }
    
    .hero h1 {
        font-size: 60px;
    }
    
    .hero h3 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .hero p {
        font-size: 12px;
    }
}

/* Hero End */

/* ----------------------- */

/* About Me Start*/

.about {
    text-align: center;
}

.about p {
    background-color: #F6682B;
    color: white;
    width: 200px;
    margin: auto;
    font-size: 20px;
    border-radius: 50px;
    padding: 5px;
}

.about h3 {
    font-size: 40px;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 40px;
}

.tentang {
    width: 85%;
    margin: auto;
    display: grid;
    place-items: center;
}

.tentang-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 25px;
}

.box img {
    width: 400px;
}

.box h2 {
    font-size: 30px;
    font-weight: 450;
}

.box p {
    font-size: 20px;
    text-align: justify;
    line-height: 2;
}

/* Pembatas Garis */
.about hr {
    width: 350px;
    height: 4px;
    background-color: #000000;
    margin: auto;
}

/* breakpoint */
/* Pembatas Garis */

@media (max-width: 992px) {
    .about hr {
        width: 250px;
        height: 4px;
        background-color: #000000;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .about hr {
        width: 150px;
        height: 4px;
        background-color: #000000;
        margin: auto;
    }
}

/* Pembatas Garis End */

/* breakpoint */

@media (max-width: 1260px) {
    .about {
        text-align: center;
    }
    
    .about p {
        background-color: #F6682B;
        color: white;
        width: 200px;
        margin: auto;
        font-size: 18px;
        border-radius: 50px;
        padding: 5px;
    }
    
    .about h3 {
        font-size: 30px;
        margin-top: 10px;
        font-weight: 400;
    }

    .tentang {
        width: 95%;
        margin: auto;
        display: grid;
        place-items: center;
    }
    
    .tentang-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 25px;
    }
    
    .box img {
        width: 300px;
    }
    
    .box h2 {
        font-size: 25px;
        font-weight: 450;
    }
    
    .box p {
        font-size: 15px;
        text-align: justify;
        line-height: 2;
    }
}

@media (max-width: 992px) {
    .about {
        text-align: center;
    }
    
    .about p {
        background-color: #F6682B;
        color: white;
        width: 200px;
        margin: auto;
        font-size: 18px;
        border-radius: 50px;
        padding: 5px;
    }
    
    .about h3 {
        font-size: 30px;
        margin-top: 10px;
        font-weight: 400;
    }

    .tentang {
        width: 95%;
        margin: auto;
        display: grid;
        place-items: center;
    }
    
    .tentang-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 25px;
    }
    
    .box img {
        width: 250px;
    }
    
    .box h2 {
        font-size: 20px;
        font-weight: 450;
    }
    
    .box p {
        font-size: 14px;
        text-align: justify;
        line-height: 2;
    }
}

@media (max-width: 768px) {
    .about {
        text-align: center;
    }
    
    .about p {
        background-color: #F6682B;
        color: white;
        width: 150px;
        margin: auto;
        font-size: 12px;
        border-radius: 50px;
        padding: 5px;
    }
    
    .about h3 {
        font-size: 18px;
        margin-top: 10px;
        font-weight: 400;
    }

    .tentang {
        width: 98%;
        margin: auto;
        display: flexbox;
        place-items: center;
    }
    
    .tentang-box {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 10px;
    }
    
    .box img {
        width: 250px;
    }
    
    .box h2 {
        font-size: 20px;
        font-weight: 450;
    }
    
    .box p {
        font-size: 14px;
        text-align: justify;
        line-height: 2;
    }
}

/* Tugas Pelayanan */

.pelayanan {
    text-align: center;
    margin-top: 30px;
}

.pelayanan p {
    background-color: #F6682B;
    color: white;
    width: 220px;
    margin: auto;
    font-size: 20px;
    border-radius: 50px;
    padding: 5px;
}

/* Card Container Tugas */

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
}

.card {
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    margin: 25px;
    padding: 20px;
    text-align: center;
}

.card i {
    font-size: 50px;
    margin-bottom: 20px;
}

.card .card-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card .card-content ul li {
    margin-bottom: 15px;
    text-align: left;
    font-size: 14px;
}

/* breakpoint */

@media (max-width: 1260px) {
    .pelayanan {
        text-align: center;
        margin-top: 30px;
    }
    
    .pelayanan p {
        background-color: #F6682B;
        color: white;
        width: 200px;
        margin: auto;
        font-size: 18px;
        border-radius: 50px;
        padding: 5px;
    }
}

@media (max-width: 992px) {
     .pelayanan {
        text-align: center;
        margin-top: 30px;
    }
        
    .pelayanan p {
        background-color: #F6682B;
        color: white;
        width: 200px;
         margin: auto;
        font-size: 18px;
        border-radius: 50px;
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .pelayanan {
        text-align: center;
        margin-top: 30px;
    }
    
    .pelayanan p {
        background-color: #F6682B;
        color: white;
        width: 150px;
        margin: auto;
        font-size: 12px;
        border-radius: 50px;
        padding: 5px;
    }
}

/* Pendaftaran */

.pendaftaran {
    width: 85%;
    margin: auto;
    display: grid;
    place-items: center;
}

.pendaftaran-tentang-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 25px;
    justify-items: center;
}

.box-pendaftaran img {
    width: 400px;
}

.box-pendaftaran h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 1;
    color: #C23284;
    margin-bottom: 20px;
}

.box-pendaftaran p {
    font-size: 20px;
    text-align: justify;
    line-height: 2;
    margin-bottom: 20px;
}

.box-pendaftaran p b {
    font-size: 20px;
}

.box-pendaftaran a button {
    cursor: pointer;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    background-color: blue;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.box-pendaftaran a button:hover {
    background-color: #94d1ff;
    transition: 0.5s;
}

/* breakpoint */

@media (max-width: 1420px) {
    .pendaftaran {
        width: 95%;
        margin: auto;
        display: grid;
        place-items: center;
    }
    .pendaftaran-tentang-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 25px;
    }
    
    .box-pendaftaran img {
        width: 300px;
    }
    
    .box-pendaftaran h1 {
        font-size: 50px;
        font-weight: bold;
        line-height: 1;
    }
    
    .box-pendaftaran p {
        font-size: 15px;
        text-align: justify;
        line-height: 2;
    }

    .box-pendaftaran p b {
        font-size: 15px;
    }

}

@media (max-width: 1260px) {
    .pendaftaran {
        width: 95%;
        margin: auto;
        display: grid;
        place-items: center;
    }
    .pendaftaran-tentang-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 25px;
    }
    
    .box-pendaftaran img {
        width: 300px;
    }
    
    .box-pendaftaran h1 {
        font-size: 42px;
        font-weight: bold;
        line-height: 1;
    }
    
    .box-pendaftaran p {
        font-size: 15px;
        text-align: justify;
        line-height: 2;
    }

    .box-pendaftaran p b {
        font-size: 15px;
    }

}

@media (max-width: 992px) {
    .pendaftaran {
        width: 95%;
        margin: auto;
        display: grid;
        place-items: center;
    }
    .pendaftaran-tentang-box {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 25px;
    }
    
    .box-pendaftaran img {
        width: 300px;
    }
    
    .box-pendaftaran h1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
    }
    
    .box-pendaftaran p {
        font-size: 12px;
        text-align: justify;
        line-height: 2;
    }

    .box-pendaftaran p b {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .pendaftaran {
        width: 98%;
        margin: auto;
        display: flexbox;
        place-items: center;
    }
    .pendaftaran-tentang-box {
        grid-template-columns: 1fr;
        align-items: center;
        padding: 25px;
        margin-left: 25px;
    }
    
    .box-pendaftaran img {
        display: none;
    }
    
    .box-pendaftaran h1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
    }
    
    .box-pendaftaran p {
        font-size: 12px;
        text-align: justify;
        line-height: 2;
    }

    .box-pendaftaran p b {
        font-size: 15px;
    }
}

/* Pendaftaran End */

/* News Karousel */

.carousel {
    margin: auto;
    --items: 6;
    --carousel-duration: 40s;
    @media (width > 600px) {
        --carousel-duration: 30s;
    }
    --carousel-width: min(
        80vw,
        1200px
    ); /* note - it will "break" if it gets too wide and there aren't enough items */
    --carousel-item-width: 280px;
    --carousel-item-height: 450px;
    --carousel-item-gap: 2rem;

    --clr-cta: rgb(0, 132, 209);

    position: relative;
    width: var(--carousel-width);
    height: var(--carousel-item-height);
    overflow: clip;

    &[mask] {
        /* fade out on sides */
        mask-image: linear-gradient(
            to right,
            transparent,
            black 10% 90%,
            transparent
        );
    }

    &[reverse] > article {
        animation-direction: reverse;
    }
    /* hover pauses animation */
    &:hover > article {
        animation-play-state: paused;
    }
}
.carousel > article {
    position: absolute;
    top: 0;
    left: calc(100% + var(--carousel-item-gap));
    width: var(--carousel-item-width);
    height: var(--carousel-item-height);
    display: grid;
    grid-template-rows: 200px auto 1fr auto;
    gap: 0.25rem;
    border: 1px solid light-dark(rgba(0 0 0 / 0.25), rgba(255 255 255 / 0.15));

    padding-block-end: 1rem;
    border-radius: 10px;
    background: light-dark(white, rgba(255 255 255 / 0.05));
    color: light-dark(rgb(49, 65, 88), white);

    /* animation */
    will-change: transform;
    animation-name: marquee;
    animation-duration: var(--carousel-duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(
        var(--carousel-duration) / var(--items) * 1 * var(--i) * -1
    );
    &:nth-child(1) {
        --i: 0;
    }
    &:nth-child(2) {
        --i: 1;
    }
    &:nth-child(3) {
        --i: 2;
    }
    &:nth-child(4) {
        --i: 3;
    }
    &:nth-child(5) {
        --i: 4;
    }
    &:nth-child(6) {
        --i: 5;
    }
    &:nth-child(7) {
        --i: 6;
    }
    &:nth-child(8) {
        --i: 7;
    }
}
.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px 10px 0 0;
}
.carousel > article > *:not(img) {
    padding: 0 1rem;
}
.carousel > article > div {
    grid-row: span 2;
    display: grid;
    grid-template-rows: subgrid;
    font-size: 0.8rem;
}
.carousel > article h2 {
    font-size: 1.2rem;
    font-weight: 300;
    padding-block: 0.75rem 0.25rem;
    margin: 0;
}
.carousel > article p {
    margin: 0;
}
.carousel > article a {
    text-decoration: none;
    text-transform: lowercase;
    border: 1px solid var(--clr-cta);
    color: light-dark(var(--clr-cta), white);
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    place-self: start;
    transition: 150ms ease-in-out;
    &:hover,
    &:focus-visible {
        background-color: var(--clr-cta);
        color: white;
        outline: none;
    }
}

@keyframes marquee {
    100% {
        transform: translateX(
            calc(
                (var(--items) * (var(--carousel-item-width) + var(--carousel-item-gap))) *
                    -1
            )
        );
    }
}

/* Breakout */

.judul-carousel {
    text-align: center;
    margin-bottom: 25px;
}

.judul-carousel p {
    background-color: #F6682B;
    color: white;
    width: 200px;
    margin: auto;
    font-size: 20px;
    border-radius: 50px;
    padding: 5px;
}

@media (max-width: 1260px) {
    .judul-carousel {
        text-align: center;
        margin-bottom: 25px;
    }
    
    .judul-carousel p {
        background-color: #F6682B;
        color: white;
        width: 200px;
        margin: auto;
        font-size: 18px;
        border-radius: 50px;
        padding: 5px;
    }
    
    .judul-carousel h3 {
        font-size: 30px;
        margin-top: 10px;
        font-weight: 400;
    }
}

@media (max-width: 992px) {
    .about {
        text-align: center;
        margin-bottom: 25px;
    }
    
    .judul-carousel p {
        background-color: #F6682B;
        color: white;
        width: 200px;
        margin: auto;
        font-size: 18px;
        border-radius: 50px;
        padding: 5px;
    }
    
    .judul-carousel h3 {
        font-size: 30px;
        margin-top: 10px;
        font-weight: 400;
    }
}

@media (max-width: 768px) {
    .about {
        text-align: center;
        margin-bottom: 25px;
    }
    
    .judul-carousel p {
        background-color: #F6682B;
        color: white;
        width: 150px;
        margin: auto;
        font-size: 12px;
        border-radius: 50px;
        padding: 5px;
    }
    
    .judul-carousel h3 {
        font-size: 18px;
        margin-top: 10px;
        font-weight: 400;
    }
}

/* Footer Start */
  
  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }